
@import "tailwindcss";

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 80px; /* Add space for fixed navbar */
}







.carousel-inner img {
    height: 450px;
    z-index: 10;
    object-fit: cover;
    object-position: top;
}

.carousel-item {
    position: relative;
}



.btn-warning:hover{
    background: transparent;
}


.colColor{
    height: 20px;
}

.navbar-collapse{
    flex-grow: 0;
}

/* .carousel-caption{
    bottom: 40%;
} */

.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.679);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}














